*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Futura PT', sans-serif;
    font-size: 18px;
}

li{
    list-style: none
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}


h2{
    font-size: 2rem;
    font-weight: 300;
}


/* Content margins */

/* Nav */

.background-header{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 64px;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.navbar li a{
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

.brand-title{
    width: 90px;
}

.toggle-icon{
    display: none;
}

.navbar-links{
    display: flex;
    justify-content: space-between;
}

.navbar-links li{
    margin: 1rem;
}

.navbar-links li a:hover{
    background-color: white;
    color: black;
}

.background-header form{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem 0;
}

.background-header form input{
    padding: 0.5rem;
    width: 300px;
    border-radius: 5px;
    font-style: italic;
}

.background-header form button{
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.top-nav img{
    max-width: 100%;
}


/* Hero */
.hero{
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.027)), url(./img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-size: 3rem;
}

.hero h3 {
    margin: 1rem;
    font-weight: lighter;
    font-style: italic;
}


.hero button{
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: white;
    color: black;
    max-width: 50%;
    margin: 0 auto;
}

.hero button:hover{
    background-color: grey;
    color: white;

}


/* intro */
.intro{
    text-align: center;
    margin: 4rem 2rem;
    font-weight: lighter;
    font-style: italic;
}  

/* Latest collection */
.latest{
    margin: 6rem 2rem;
}


.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card{
    padding: 1rem 0;
    text-align: center;
}

.card h3{
    font-weight: 400;
    font-size: 1.3rem;
}

.card p{
    font-weight: lighter;
}

.card button{
    padding: 1rem 2rem;
    margin: 1rem 0;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover{
    background-color: grey;
}

/* Shop by category */
.shop-by-category{
    margin: 0 2rem 6rem 2rem;
}

.category h4{
    font-size: 2rem;
    color: white;
}

.category:hover h4{
    font-size: 4rem;
    transition: 0.5s;
}


.category{
    height: 50vh;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.category-mens{
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.027)), url(./img/mens-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.category-womens{
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.027)), url(./img/womens-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    background-color: black;
    color: white;
    padding: 2rem;
}

footer .footer-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer div{
    margin-bottom: 2rem;
}

.social-media ul{
    display: flex;
    gap: 1rem;
}

footer img{
    max-width: 20%;
    text-align: center;
}

.footer-details li{
    cursor: pointer;
    margin-bottom: 1rem;
}




/* Mobile */
@media screen and (max-width: 900px){
    .navbar{
        display: none;
    }
    .top-nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-links{
        display: flex;
        flex-direction: column;
        
    }
    .navbar.active {
        display: flex;
        justify-content: center;
      }
    
    
    .toggle-icon{
        display: flex;
    }
    header {
        display: flex;
        padding: 1rem 2rem;
        justify-content: space-between;
        flex-direction: column;
    }
    .navbar{
        width: 100%;

    }
    .navbar-links li{
        text-align: center;
    }

    .background-header form{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem 0;
    }
    
    .background-header form input{
        padding: 0.5rem;
        width: 300px;
        border-radius: 5px;
        font-style: italic;
    }
    
    .background-header form button{
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background-color: white;
        color: black;
    }

    /* gallery */
    .gallery{
        display: none;
    }
    
}


/* Larger screens */
@media screen and (min-width: 901px){

    header, .intro, .latest, .shop-by-category, .gallery, .footer-contents{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    header{
        border: none;
        padding-top: 2rem;
    }


    .intro, .latest{
        margin-bottom: 6rem;
    }

    .cards{
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .card{
        cursor: pointer;
        margin-bottom: 2rem;
    }

    .shop-by-category .category-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
        margin-bottom: 6rem;
    }

    .grid-container {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-top: 2rem;
    }
    
    .grid-item {
        display: flex;
        flex-direction: column;
    }
    
    .grid-item {
        height: 558px;
        width: 100%;
        object-fit: cover;
        object-position: center top;
    }
    
    .grid-item-1 {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
    
    .grid-item-2 {
        grid-row: 1 / span 1;
        grid-column: 2 / span 2;
    }
    
    .grid-item-3 {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    
    .grid-item-4 {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
    
    .grid-item-5 {
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
    }
    
    .gallery{
        margin-bottom: 6rem;
    }


    .footer-details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1000px;
    }
    
    footer img{
        width: 5%;
    }

    .social-media ul{
        gap: 2rem;
    }

    .social-media ul li{
        cursor: pointer;
    }

    

}